<form class="mt-4" method="POST" id="containerForm" action="/courses/handleForm">
    <h3>Khóa Học Của Tôi </h3>
    {{#if deletedCount }}
    <a href="/me/trash/courses">Đã Xóa {{deletedCount}}</a>
    {{/if}}
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
       <input class="form-check-input" type="checkbox" value="" id="check-All">
      <label class="form-check-label" for="check-All">
        Chọn Tất Cả
      </label>
     </div>
        <select class="form-select form-select-sm select-all-checkbox" name="action" style="width: 120px; margin: 16px" aria-label="Small select example" required>
          <option value="" selected>--Hành Động--</option>
          <option value="delete">Xóa</option>
        </select>

        <button id="" class="btn btn-primary btn-sm btn-submit-all disabled">Thực hiện</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Chọn</th>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Trình Độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
              {{#each course}}
                <tr>
                 <td> 
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="coursesID[]" value="{{this._id}}" id="flexCheck">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
               
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.time}}</td>
                <td><a href="/courses/{{this._id}}/edit" class="btn btn-secondary" tabindex="-1" role="button">Sửa</a></td>
                <td><a href="" data-bs-toggle="modal" data-bs-target="#deleteCourseModal" data-id="{{this ._id}}" class="btn btn-secondary" tabindex="-1" role="button" >Xóa</a></td>
            </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Bạn chưa đăng khóa học nào.
                  <a href="/courses/create">Đăng   Khóa Học</a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete Course --}}
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Báo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xóa khóa học
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger" >Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hidenform --}}
<form method="POST" id="hiden-delete-form" ></form>
{{!-- event:click delete button --}}
<script>
        const deleteCourseModal = document.getElementById('deleteCourseModal')
        var containerForm = document.getElementById('containerForm')
        var deleteForm= document.getElementById('hiden-delete-form')
        var btnDelete = document.getElementById('btn-delete')
        var selectAll = $('#check-all')
        var btnCheckAllSubmit =$(".btn-submit-all")
        var courseItemCheckBox = document.getElementsByName('coursesID[]')
        var courseId
        //when dialog confrim click
        if (deleteCourseModal) {
        deleteCourseModal.addEventListener('show.bs.modal', event => {
            
            const button = event.relatedTarget
            
            const recipient = button.getAttribute('data-id')
            courseId=recipient
        })
        }
        //when delete course btn clicked
        btnDelete.onclick = function(){
            deleteForm.action='/courses/'+courseId+'?_method=delete'   
            deleteForm.submit()
        }
        //check box all
         selectAll.change( function(){
            var isChecked = $(this).prop('checked')
            $(courseItemCheckBox).prop('checked',isChecked)
            renderCheckAllSubmitBtn()
         })
         //check box courses
         $(courseItemCheckBox).change(function() {
          var isCheckedAll = courseItemCheckBox.length === $('input[name="coursesID[]"]:checked').length;
          selectAll.prop('checked',isCheckedAll)
          renderCheckAllSubmitBtn()
        });
        //check all submit button submit
        btnCheckAllSubmit.click(function(e){
         
         
          })
        //re-render check all submit button
        function renderCheckAllSubmitBtn(){
          var checkCount =$('input[name="coursesID[]"]:checked').length
          if(checkCount>0){
            btnCheckAllSubmit.removeClass('disabled')
          }
          else{
            btnCheckAllSubmit.addClass('disabled')
          }
        }
        

        


</script>